# .NET / Visual Studio
bin/
obj/
*.user
*.userosscache
*.sln.docuser
.vs/
.vscode/

# Build and Publish
publish/
out/
appsettings.Development.json

# Docker
.dockerignore

# Node / Angular (Frontend)
node_modules/
dist/
.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db


# Secrets and Environment
.env
*.pfx
