version: '3.8'

services:
  # Database Infrastructure
  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: durgesh-sql-server
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=Durgesh@Singh#2026
    ports:
      - "1433:1433"
    networks:
      - durgesh-network

  # Product Microservice
  product-service:
    build: 
      context: ./backend/product-service
      dockerfile: Dockerfile
    container_name: product-api
    depends_on:
      - mssql
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Server=mssql;Database=DurgeshProductDb;User Id=sa;Password=Durgesh@Singh#2026;TrustServerCertificate=True
      - AzureBlob__ConnectionString=UseDevelopmentStorage=true
      - AzureBlob__ContainerName=durgesh-product-images
    ports:
      - "8081:8080"
    networks:
      - durgesh-network

  # Order Microservice
  order-service:
    build:
      context: ./backend/order-service
      dockerfile: Dockerfile
    container_name: order-api
    depends_on:
      - mssql
      - product-service
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Server=mssql;Database=DurgeshOrderDb;User Id=sa;Password=Durgesh@Singh#2026;TrustServerCertificate=True
      - ProductServiceSettings__BaseUrl=http://product-service:8080
    ports:
      - "8082:8080"
    networks:
      - durgesh-network

  # Angular Frontend
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: angular-web
    depends_on:
      - product-service
      - order-service
    ports:
      - "4200:80"
    networks:
      - durgesh-network

networks:
  durgesh-network:
    driver: bridge
    
